<div class="row">
    <div class="col-md-2">
        <div *ngIf="questionNr != 1" style="text-align: left">
            <button (click)="previous()" class="btn btn-dark">Previous</button>
        </div>
    </div>
    <div class="col-md-8">
        <div style="text-align: center"><h6>{{questionNr}} / {{totalQuestions}}</h6></div>
    </div>
    <div class="col-md-2">
        <div *ngIf="questionNr != totalQuestions" style="text-align: right">
            <button (click)="next()" class="btn btn-dark">Next</button>
        </div>
    </div>
</div>
<br>
<br>
<h3>{{topic}}</h3>
<p>
<div [innerHTML]="question"></div>
</p>
<div class="row">
    <div class="col-md-6">
        <pre style="background-color: #333333;" id="code">
            <code id="snippet" class="{{language}}" [innerHTML]="code"></code>
        </pre>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <form>
                    <label style="color: #333333;" for="answer">Enter your answer below:</label>
                    <input name="answer" type="text" class="form-control" id="answer" (click)="clearErrorMsg()"
                           [(ngModel)]="givenAnswer" required="required">
                    <br>
                    <p style="color: red">{{errorMsg}}</p>
                    <p *ngIf="success || lastQuestion" style="color: green">Good job! You solved this in {{savedTime}}
                        seconds</p>
                    <div style="text-align: center; ">
                        <button [disabled]="success || lastQuestion" (click)="submitAnswer()"
                                class="btn btn-warning btn-lg">Submit Answer
                        </button>
                        <br><br>
                        <button *ngIf="success" (click)="next()" class="btn btn-success btn-lg">Next
                            question
                        </button>
                        <button *ngIf="lastQuestion" routerLink="/topics" class="btn btn-success btn-lg">Go back to
                            topic list
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-1">

            </div>
        </div>

    </div>
</div>
